#landing {
    
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    
}
.center-intro {
    
    padding-top: 200px;
    margin-left: 500px;
    height: 100%;
}
#services {
    opacity: 100%; 
}
.container {
    
}
#service-logos col{
    margin: 100px;
    padding: 400px;
    margin-bottom: 200px;
}
#services {
    
    padding: 90px;
    background-attachment: fixed;
    opacity: 90%;
}
#logo-service {
    margin-left: 190px;
}
#serviceHeda {
    margin-left: 400px;
    padding: 50px;
}
#port {
    align-self: center;
 
}
#port2 {
    margin-top: 5px;
    float: inline-end;
    margin: 0%;
    
}
#portHeda {
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#port1 {
    float: inline-end;
    margin: 0%;
}
#comments {
    padding: 80px;
    
}
#nameEmail, #emailDomain {
    margin: 10px;
}
