#landing {
    
    height: 590px;
    
}
.center-intro {
    align-self: center;
    padding-top: 250px;
    margin-left: 500px;
    height: 100%;
}
#services {
    opacity: 100%;
}
.container {
    
}
#service-logos col{
    padding: 300;
}