#landing {
    
    height: 800px;
    width: 100%;
    background-attachment: fixed;
    
}
.center-intro {
    
    padding-top: 200px;
    margin-left: 500px;
    height: 100%;
}
#services {
    opacity: 100%;
}
.container {
    
}
#service-logos col{
    margin: 100px;
    padding: 400px;
    
}
#services {
    
    padding: 90px;
    background-attachment: fixed;
    opacity: 90%;
}
#logo-service {
    margin-left: 190px;
}
#serviceHeda {
    margin-left: 400px;
    padding: 50px;
}
